<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAX INDIA | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />
    <link rel="stylesheet" href="/static/app/css/cs.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <section class="cshome flex wigin">
        <video autoplay loop muted plays-inline>
            <source src="/static/assets/vide.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1 class="uppercase">emax India</h1>
            <h4>Computer Education Centre</h4>
            <p>Under <span class="uppercase">govt. of india</span></p>
            <!-- <a class="btn uppercase">explore</a> -->
        </div>
        
    </section>

    <section class="cs wigin">
        <div class="background">
            <h3 class="uppercase">COURSES</h3>
        </div>
        <div class="csgrid">
            <div class="csBox">
                <p class="uppercase">post graduate diploma in computer application(PGDCA)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-office</li>
                        <li class="uppercase">dtp</li>
                        <li class="uppercase">pagemaker</li>
                        <li class="uppercase">fundamental of computer</li>
                    </ul>
                    <ul>
                        <li class="uppercase">html/dhtml</li>
                        <li class="uppercase">photoshop</li>
                        <li class="uppercase">tally erp 9 with gst</li>
                        <li class="uppercase">internet & multimedia</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">honors diploma in computer application(HDCA)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-office</li>
                        <li class="uppercase">tally erp 9 with gst</li>
                        <li class="uppercase">html/dhtml</li>
                        <li class="uppercase">pagemaker</li>
                        <li class="uppercase">corel draw</li>
                    </ul>
                    <ul>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">dtp(assamese typing)</li>
                        <li class="uppercase">photoshop</li>
                        <li class="uppercase">internet & multimedia</li>
                        <li class="uppercase">networking</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">advance diploma in computer application(ADCA)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-office</li>
                        <li class="uppercase">tally erp 9 with gst</li>
                        <li class="uppercase">html/dhtml</li>
                        <li class="uppercase">pagemaker</li>
                        <li class="uppercase">corel draw</li>
                    </ul>
                    <ul>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">dtp(assamese typing)</li>
                        <li class="uppercase">photoshop</li>
                        <li class="uppercase">javascript</li>
                        <li class="uppercase">networking</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">advance diploma in information technology(ADIT)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-office</li>
                        <li class="uppercase">dtp</li>
                        <li class="uppercase">pagemaker</li>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">javascript</li>
                        <li class="uppercase">power point presentation</li>
                    </ul>
                    <ul>
                        <li class="uppercase">html/dhtml</li>
                        <li class="uppercase">photoshop</li>
                        <li class="uppercase">tally erp 9 with gst</li>
                        <li class="uppercase">internet & multimedia</li>
                        <li class="uppercase">assamese typing</li>
                        <li class="uppercase">advance office accounting</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">advance diploma in financial accounting(ADFA)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">computer basic</li>
                        <li class="uppercase">manual accounting</li>
                        <li class="uppercase">tally erp 9 (basic + advance)</li>
                        <li class="uppercase">excel advance</li>
                        <li class="uppercase">ms-access</li>
                    </ul>
                    <ul>
                        <li class="uppercase">fundamental of accounting</li>
                        <li class="uppercase">gst</li>
                        <li class="uppercase">data entry</li>
                        <li class="uppercase">operating system</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">advance diploma in multimedia and animation(adma)</p>
                <p>Duration 1 Year</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">corel draw</li>
                        <li class="uppercase">power point presentation</li>
                        <li class="uppercase">data entry (excel)</li>
                        <li class="uppercase">photoshop</li>
                        <li class="uppercase">fundamental of computer</li>
                    </ul>
                    <ul>
                        <li class="uppercase">pagemaker</li>
                        <li class="uppercase">editing/designing</li>
                        <li class="uppercase">ms-access</li>
                        <li class="uppercase">ms-word</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
        </div>
        
        <!-- ====================================================== -->
        <div class="background">
            <h3 class="uppercase">short term COURSES</h3>
        </div>
        <div class="csBox short">
            <ul>
                <li class="uppercase">photoshop 7.0 & cc (2 months)</li>
                <li class="uppercase">leap office (assamese typing) (1 month)</li>
                <li class="uppercase">gst & data entry operating (2 months)</li>
                <li class="uppercase">animation designing (2 months)</li>
                <li class="uppercase">word designing (1 month)</li>
                <li class="uppercase">presentating training (1 month)</li>
                <li class="uppercase">computerized accounting (2 months)</li>
                <li class="uppercase">html / dhtml (1 month)</li>
            </ul>
        </div>
        <!-- ======================================================================= -->
        <div class="csgrid">
            <div class="csBox">
                <p class="uppercase">basic diploma in computer application(BDCA)</p>
                <p>Duration 3 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-word</li>
                        <li class="uppercase">ms-powerpoint</li>
                        <li class="uppercase">ms-excel</li>
                        <li class="uppercase">ms-access</li>
                    </ul>
                    <ul>
                        <li class="uppercase">ms-paint</li>
                        <li class="uppercase">typing skill</li>
                        <li class="uppercase">internet</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">certificate of financial accounting(cFA)</p>
                <p>Duration 3 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-excel</li>
                        <li class="uppercase">foundation of accounting</li>
                        <li class="uppercase">ms-access</li>
                        <li class="uppercase">tally</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">basic diploma in office automation(DOA)</p>
                <p>Duration 3 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-word</li>
                        <li class="uppercase">ms-powerpoint</li>
                        <li class="uppercase">ms-excel</li>
                        <li class="uppercase">ms-access</li>
                    </ul>
                    <ul>
                        <li class="uppercase">internet & multimedia</li>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">internet</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">diploma in computer application(DCA)</p>
                <p>Duration 6 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">ms-office</li>
                        <li class="uppercase">tally</li>
                        <li class="uppercase">photoshop</li>
                    </ul>
                    <ul>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">typing test</li>
                        <li class="uppercase">pagemaker</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">diploma in tally erp 9 with gst</p>
                <p>Duration 6 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">fundamental of accounting</li>
                        <li class="uppercase">fundamental of computer</li>
                        <li class="uppercase">gst rule</li>
                        <li class="uppercase">tally accounting with gst</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div class="csBox">
                <p class="uppercase">diploma in dtp(advance desktop publishing)</p>
                <p>Duration 6 Months</p>
                <hr>
                <div class="flex">
                    <ul>
                        <li class="uppercase">photoshop 7.0 and CC</li>
                        <li class="uppercase">corel draw</li>
                    </ul>
                    <ul>
                        <li class="uppercase">leap office</li>
                        <li class="uppercase">pagemaker</li>
                    </ul>
                </div>
            </div>
            <!-- -------------------------------------------------------------------- -->
        </div>
    </section>

    <section class="fees wigin">
        <div class="csBox">
            <p class="uppercase">fee structure</p>
            <hr>
            <table>
                <tr>
                    <td>Admission Fee -</td>
                    <td>&#8377;1,500/-</td>
                </tr>
                <tr>
                    <td>Monthly Fee -</td>
                    <td>&#8377;800/-</td>
                </tr>
            </table>
        </div>
    </section>
    <div class="cscopy">
        <p class="para">All rights reserved &nbsp;&nbsp;&copy; | Designed &amp; managed by <span class="uppercase"
            onclick="location.href = `http://raynrelinfotec.in/`">Raynrel <span class="color">Infotec</span></span></p>
      </div>
    <script src="/static/app/js/main.js"></script>
</body>

</html>