<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us | KKV</title>


  <!-- -------CSS------- -->
  <link rel="stylesheet" href="/static/app/css/main.css" />
  <link rel="stylesheet" href="/static/app/css/file.css" />

  <!-- Icons Css  -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
  <%- include(`../partials/header.ejs`) %>
  <%- include(`../partials/nav.ejs`) %>


    <main class="wigin boxContainer abCon mt">
      <h3 class="uppercase case">About Kalong Kapili Vidyapith</h3>
      <div class="image">
        <img src="/static/assets/gallery/image-10.jpeg" alt="college">
      </div>
      <p class="para pure">Kalong Kapili Vidyapith is located in the heart of Nagaon town. The college has two blocks,
        Block 1 at GM Road, behind Nowgong College and Block 2 at A.D.P. Road, Christian Patty possessing Arts, Science
        and Commerce stream for H.S. Classes.We are consistently producing outstanding results because of numerous
        interventions, teamwork and diligence by staff. The college has well equipped class rooms with speaker facility
        and close circuit cameras, library with adequate number of books, journals and periodicals, science laboratories
        with sophisticated instruments, generator facility for uninterrupted power supply, a good number of water
        purifiers for supplying pure drinking water and lift facility too. The college has a canteen in order to provide
        hygienic food. The college campus is extremely safe and there are close circuit cameras in every corner to
        ensure security of the students.</p>
    </main>

    <%- include(`../partials/footer.ejs`) %>

    <script src="/static/app/js/main.js"></script>
</body>

</html>