<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <main class="wigin mt boxContainer principal">
            <h3 class="uppercase case">Academic Officer</h3>
            <div class="flexion">
                <div class="image">
                    <img src="/static/assets/home/academic.jpg" alt="academic" class="img">
                    <p class="color name">Binita Kakoti</p>
                </div>
                <p class="para pure">Dear Students and Parents,
    
                    As the curtain falls on this academic year, let's celebrate together! You've woven a brilliant tapestry
                    with threads of curiosity, creativity, and dedication.
    
                    Your inquisitive minds ignited classrooms with insightful questions and passionate debates. Your
                    artistic spirit bloomed in captivating projects and performances. And your unwavering commitment saw you
                    through late nights and challenges, always striving for growth.
    
                    But beyond academic triumphs, we applaud your character. You showed empathy, courage, and resilience.
                    You built bridges of friendship, embraced collaboration, and created a community where everyone felt
                    valued.
                    We, at the Academic Office, are incredibly proud of you. We'll always be here for support and guidance.
    
                    May your future bloom with endless possibilities!
    
                    With heartfelt appreciation,
    
                    <br>
                    <br>
                    <span class="uppercase">Binita Kakoti</span> <br>
                    <span class="uppercase">Academic Officer</span>
                </p>
            </div>
        </main>
            <%- include('../partials/footer.ejs') %>
                <script src="/static/app/js/main.js"></script>
</body>

</html>