<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <main class="wigin mt boxContainer principal">
            <h3 class="uppercase case">Adviser</h3>
            <div class="flexion">
                <div class="image">
                    <img src="/static/assets/home/devojit.jpeg" alt="academic" class="img">
                    <p class="color name">Devojit Goswami</p>
                </div>
                <p class="para pure">Dear Students and Parents, <br>
    
                    As we turn the page to a new chapter, I extend a warm welcome and a message of heartfelt encouragement
                    to each of you. Whether you're a seasoned learner or a curious newcomer, this year brims with endless
                    possibilities.
                    Approach every subject with an open mind and an inquisitive spirit. Delve deeper than mere facts,
                    fostering critical thinking, creative problem-solving, and meaningful collaboration. Remember, true
                    knowledge isn't just found in textbooks, but in the journey of exploration itself.
                    This year, carve out time for the passions that ignite your soul. Dive into music, art, athletics, or
                    anything that fuels your creativity and brings you joy. These pursuits not only enrich your life but
                    also contribute to the vibrant tapestry of our school community.
                    Most importantly, believe in yourself. You have the power to achieve anything you set your mind to.
                    Embrace challenges as stepping stones, view setbacks as opportunities for growth, and never lose sight
                    of your dreams.
    
                    The entire team at Kalong Kapili Vidyapith stands behind you, cheering you on every step of the way. May your year
                    be filled with enriching experiences, unwavering spirits, and remarkable achievements.
    
                    <br>
                    <br>
                    <span class="uppercase">Devojit Goswami</span> <br>
                    <span class="uppercase">Academic Officer</span>
                </p>
            </div>
        </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>