<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <main class="wigin mt boxContainer principal">
            <h3 class="uppercase case">principal's desk</h3>
            <div class="flexion">
                <div class="image">
                    <img src="/static/assets/home/banashree.jpg" alt="principal" class="img">
                    <p class="color name">Banashree Agasty</p>
                </div>
                <p class="para pure">I am extremely delighted to welcome you to Kalong Kapili Vidyapith, the college with an excellent academic reputation since its inception. The college, established in the year 2004, is symbolically named as Kalong Kapili Vidyapith, after the two important rivers Kalong and Kapili flowing through the heart of undivided Nagaon District. Our aim is to provide you with all the necessary facilities, infrastructures and conducive environment to nurture your talent for a better career and to help you to build up your character and personality to become a responsible citizen of the country. Our highly talented, experienced and committed faculty members are actively involved in their pursuit of creating and disseminating knowledge through quality teaching, research and training. Our prime purpose is to provide an education which explores and strengthens the potential which is innate in every individual but awaiting expression .<br>
                    I feel very privileged, proud and honoured to serve as the Principal of Kalong Kapili Vidyapith. I wish you all a wonderful academic year ahead.
                    <br> <br>
                    <span class="uppercase">Banashree Agasty</span> <br>
                    <span class="uppercase">Principal</span>
                </p>
            </div>
        </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>