<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rector's Corner | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
    <main class="wigin mt boxContainer rector">
        <h3 class="uppercase case">Rector's Corner</h3>
        <div class="flexion">
            <div class="image">
                <img src="/static/assets/home/rector.jpg" alt="rector" class="img">
                <p class="color name">Sri Bidhan Boruah</p>
            </div>
            <p class="para pure">
                Dear Parents, Teachers and Students,
                I extend to you all a very warm welcome to our college Website. We have tried to create an online
                resource that provides all relevant information about Kalong Kapili Vidyapith and hope that as you
                pursue through the contents of this website, you will get a sense of the rich flavour of life at our
                college. At KKV all aspects of our educational processes are carefully designed to cultivate and
                stimulate the intellectual, social and personal development of the students. We are passionate about
                creating a ‘learning’ institution that is dynamic and constantly seeking excellence to meet the needs of
                the present as well as the future. The reputation, the college has acquired and established over these
                years is due to the dedication and selfless commitment of the teachers, supporting staff and students. I
                appreciate the encouragement, trust and affection of the parents of our students, and well-wishers and
                friends for being a source of infinite strength to us. <br>
                Thanking you all <br> <br>
                <span class="uppercase">Sri Bidhan Boruah</span> <br>
                <span class="uppercase">rector</span>
            </p>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>