<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
            <main class="wigin mt boxContainer vice-principal">
                <h3 class="uppercase case">Vice-Principal's Message</h3>
                <div class="flexion">
                    <div class="image">
                        <img src="/static/assets/home/Vice-Principal.jpg" alt="rector" class="img">
                        <p class="color name">Sri Shekhar Jyoti Saikia</p>
                    </div>
                    <p class="para pure">
                        Dear Students, Parents, Well-Wishers and Visitors,
                        It is with great pleasure that I welcome you to our college website. This website has been
                        developed to enable everyone to become familiar with KKV, its policies and other procedures. KKV
                        has earned its name and fame by imparting excellent education for more than a decade. While
                        academic excellence is our major thrust, we also prepare the students for life, motivate and
                        empower them to be lifelong learners, critical thinkers and productive members of an
                        ever-changing global society. I wish to commend the support of the college management as well as
                        the diligence and dedication of the teachers and staff who unflinchingly and tirelessly work to
                        fulfill our mission.I would like to take the opportunity to express my gratitude to the parents
                        for their consistent support and faith in us.<br> <br>
                        <span class="uppercase">Sri Shekhar Jyoti Saikia
                        </span> <br>
                        <span class="uppercase">vice principal</span>
                    </p>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
                <script src="/static/app/js/main.js"></script>
</body>

</html>