<footer>
  <section class="flex wigin">
    <div class="footerhead">
      <h3 class="uppercase">Kalong <span class="color">Kapili</span> Vidyapith</h3>
      <p class="para">Empowering minds, transforming lives at Kalong Kapili Vidyapith</p>
    </div>
    <div class="footerbody">
      <p class="uppercase">Important links</p>
      <ul>
        <li onclick="location.href = `/about-us`">About Us</li>
        <li onclick="location.href = `/admission-form`"">Admission</li>
        <li onclick=" location.href=`/staff`">Staff</li>
        <li onclick="location.href = `/fee-structure`">Fee Structure</li>
        <li onclick="location.href = `/rules`">Rules &amp; Regulations</li>
        <li onclick="location.href = `/facilities`">Facilities</li>
        <li onclick="location.href = `/contact`">Contact Us</li>
      </ul>
    </div>
    <div class="footerfoot">
      <p class="uppercase">services</p>
      <ul>
        <li onclick="location.href = `/gallery`">Gallery</li>
      </ul>
    </div>
  </section>
  <div class="copyRight">
    <p class="para">All rights reserved &nbsp;&nbsp;&copy; | Designed &amp; managed by <span class="uppercase"
        onclick="location.href = `http://raynrelinfotec.in/`">Raynrel <span class="color">Infotec</span></span></p>
  </div>
</footer>