

  
<header class="flex">
  <main class="flex">
    <img src="/static/assets/home/logo.png" alt="logo" />
    <div class="title">
      <p><b>Kalong Kapili Vidyapith</b></p>
      <hr />
      <p><b>কলং কপিলী বিদ্যাপীঠ</b></p>
    </div>
  </main>
  <!-- <div class="address-info">
    <i class="uil uil-map-marker-alt"></i>
    <p>ADP Road, Christianpatty, Nagaon(Assam)
    </p>
  </div> -->
  <div class="title-contact-info">
    <div class="flex">
      <a onclick="window.open(`tel: +91 9954128216`)" class="btn">
        <i class="uil uil-phone"></i>
        <span>Enquire Now</span>
      </a>
      <a onclick="location.href = `/contact`" class="btn">
        <i class="uil uil-envelope"></i>
        <span>Contact Us</span>
      </a>
    </div>
    <div class="social-icons">
      <div class="iconBtn" onclick="window.open(`https://www.facebook.com/kalongkapilividyapith?mibextid=ZbWKwL`)">
        <i class="uil uil-facebook-f f"></i>
        <span class="f">Facebook</span>
      </div>
      <div class="iconBtn" onclick="(window.open(`https://www.instagram.com/kkv_bbaruah?igsh=cTJqaTN0ejY1aG9j`))">
        <i class="uil uil-instagram in"></i>
        <span class="in">Instagram</span>
      </div>
      <div class="iconBtn" onclick="window.open(`https://www.youtube.com/@kalongkapilividyapith6953`)">
        <i class="uil uil-youtube yt"></i>
        <span class="yt">You Tube</span>
      </div>
    </div>
  </div>
</header>


