
<nav>
    <div class="uil uil-bars" id="hamburger"></div>
    <ul class="flex nav-list">
      <li><a href="/school" class="nav-link">Home</a></li>
      <li><a href="/school/school-aboutUs" class="nav-link">About Us</a></li>
      <li><a href="/school/school-admissionForm" class="nav-link">Admission</a></li>
      <li><a href="/home" class="nav-link">college Section</a></li>
      <li><a href="/login" class="nav-link">Login</a></li>
    </ul>
    <p id="autoInput"></p>
  </nav>