<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/SCHOOL/css/main.css" />
    <link rel="stylesheet" href="/static/SCHOOL/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../../partials/school.header.ejs') %>
        <%- include('../../partials/school.nav.ejs') %>
            <main class="wigin mt boxContainer academic principal">
                <h3 class="uppercase case">Academic Officer</h3>
                <div class="flexion">
                    <div class="image">
                        <img src="/static/SCHOOL/img/home/academic.jpg" alt="principal" class="img">
                        <p class="color name">Dr. Rinju Bharali</p>
                    </div>
                    <p class="para pure">At the heart of Kalong Kapili Vidyapith lies a deep commitment to academic
                        excellence. We believe in fostering a stimulating environment where critical thinking
                        flourishes, creativity takes flight, and knowledge reigns supreme. Our dedicated faculty,
                        equipped with passion and expertise, will guide you through the intricacies of each subject,
                        pushing you to reach your full potential.
                        Learning at Kalong Kapili Vidyapith extends far beyond the pages of a textbook. We encourage you
                        to delve deeper into your passions, whether they lie in the realms of science, the arts,
                        technology, or beyond. From engaging extracurricular activities to innovative student-led
                        projects, we offer countless opportunities to ignite your curiosity and hone your skills.
                        So, as we embark on this new academic adventure, let's do it with open minds, a thirst for
                        knowledge, and a spirit of collaboration. Together, we can make this year truly unforgettable,
                        one filled with academic achievements, personal growth, and lasting memories.
                        <br>
                        <br>
                        <span class="uppercase">Dr. Rinju Bharali</span> <br>
                        <span class="uppercase">Academic Officer</span>
                    </p>
                </div>
            </main>
            <%- include('../../partials/school.footer.ejs') %>

</body>

</html>