<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chief Advisor's Desk | KKV</title>

    <link rel="stylesheet" href="/static/SCHOOL/css/main.css" />
    <link rel="stylesheet" href="/static/SCHOOL/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../../partials/school.header.ejs') %>
        <%- include('../../partials/school.nav.ejs') %>
            <main class="wigin mt boxContainer administrator principal">
                <h3 class="uppercase case">Administrator</h3>
                <div class="flexion">
                    <div class="image">
                        <img src="/static/SCHOOL/img/home/devojit.jpeg" alt="Administrator" class="img">
                        <p class="color name">Devojit Goswami</p>
                    </div>
                    <p class="para pure">A school is only as strong as its foundation, and at [School Name], our
                        dedicated faculty and staff are the cornerstone of our success. I extend my deepest gratitude to
                        our teachers, who bring passion, expertise, and unwavering support to every classroom. Your
                        dedication inspires our students to reach their full potential, and we recognize your invaluable
                        contributions to our community.
                        No educational journey is complete without the unwavering support of families. To our parents
                        and guardians, I thank you for entrusting us with the education of your children. Your active
                        involvement and open communication are essential in fostering a collaborative learning
                        environment. Together, we can create a space where students feel empowered to learn, grow, and
                        thrive. <br>
                        Remember, every day offers a chance to learn, grow, and make a difference. Let's make this year
                        one for the record books, filled with academic achievements, personal triumphs, and lasting
                        memories.
                        <br>
                        I look forward to seeing you all on campus and witnessing the incredible things we will
                        accomplish together.
                        <br>
                        <br>
                        <span class="uppercase">Devojit Goswami</span> <br>
                        <span class="uppercase">Administrator</span>
                    </p>
                </div>
            </main>
            <%- include('../../partials/school.footer.ejs') %>

</body>

</html>