<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kalong Kapili Vidyapith</title>
  <link rel="icon" href="/static/assets/home/logo.png">
    <!-- -------CSS------- -->
    <link rel="stylesheet" href="/static/app/css/main.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />

</head>

<body>
  <%- include(`../views/partials/header.ejs`) %>
  
<!-- ========HEADER ENDS HERE========= -->
<!-- <a href="https://school.kalongkapilividyapith.in" id="link-school-section">
  <i class="uil uil-university"></i>
  <span>Go to School Section</span>
  <i class="uil uil-angle-double-right"></i>
</a> -->

<!-- ========LINK ENDS HERE=========== -->

<%- include(`../views/partials/nav.ejs`) %>
  <section class="cgrid cuck">
    <div class="box" onclick="location.href = `/home`">
      <h4>Higher Secondary Section</h4>
      <p class="one">Arts, Science & Commerce (English & Assamese Medium)</p>
      <p>ADP Road, Christianpatty, Nagaon(Assam)</p>
  </div>
  </section>
    <!-- ========NAVBAR ENDS HERE=========== -->
    <section class="slides wigin">
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-1.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-2.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-3.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-8.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-9.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-12.jpeg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-17.jpg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-19.jpg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-20.jpg" alt="slider">
    </div>
    <div class="carousel">
      <img src="/static/assets/slider-img/slider-21.jpg" alt="slider">
    </div>
  </section>

    <!-- =======SLIDER ENDS HERE========= -->
    <div class="aboutus-container wigin">
      <h3 class="uppercase">About <span class="color">Kalong Kapili Vidyapith</span></h3>
      <p class="para">Kalong kapili Vidyapith is located in the heart of Nagaon town. KKV has two
        sections : One is school section and the other is higher secondary section.The school section (Class I
        to X) is located at GM Road, behind Nowgong College and the higher secondary section (Arts, Science and
        Commerce stream) is situated at A.D.P. Road, Christian Patty , Nagaon
        .We are consistently producing outstanding result...</p>
      <a href="/about-us" class="btn">Know More</a>
    </div>

    <!-- ===========ABOUT US SECTION ENDS HERE=========== -->
    <section class="description wigin">
      <div class="container">
        <h3 class="uppercase"><span class="color">CHIEF ADVISER's</span> Desk</h3>
        <img src="/static/assets/home/principal.jpeg" alt="Principal">
        <p class="name color">Sri Manabendra Nag</p>
        <p class="para">It is with great pleasure that I welcome you to KKV Higher Secondary section. Our mission is to
          enable our students to realise their full potential in a caring and positive learning environment that
          enhances
          academic achievements instilling values which guide the daily lives of our students.</p>
        <a href="/chief-advisor" class="btn">Know More</a>
      </div>
      <div class="container">
        <h3 class="uppercase"><span class="color">Rector's</span> Corner</h3>
        <img src="/static/assets/home/rector.jpg" alt="rector">
        <p class="name color">Sri Bidhan Boruah</p>
        <p class="para">I extend to you all a very warm welcome to our college Website. We have tried to create an
          online
          resource that provides all relevant information about Kalong Kapili Vidyapith and hope that as you
          pursue through the contents of this website, you will
          get a sense of the rich flavour of life at our college.</p>
        <a href="/rector" class="btn">Know More</a>
      </div>
      <div class="container">
        <h3 class="uppercase"><span class="color">Principal"s </span>Desk</h3>
        <img src="/static/assets/home/banashree.jpg" alt="Principal">
        <p class="name color">Banashree Agasty</p>
        <p class="para">I am extremely delighted to welcome you to Kalong Kapili Vidyapith, the college with an
          excellent
          academic reputation since its inception. The college, established in the year 2004, is symbolically named as
          Kalong Kapili Vidyapith, after the two important rivers Kalong and Kapili flowing through the heart of
          undivided
          Nagaon District.</p>
        <a href="/principal" class="btn">Know More</a>
      </div>
      <div class="container">
        <h3 class="uppercase"><span class="color">Vice Principal's</span> Message</h3>
        <img src="/static/assets/home/Vice-Principal.jpg" alt="Vice-Principal">
        <p class="name color">Sri Shekhar Jyoti Saikia</p>
        <p class="para">Dear Students, Parents, Well-Wishers and Visitors, It is with great pleasure that I welcome you
          to
          our college website. This website has been developed to enable everyone to become familiar with KKV,
          its policies and other procedures.</p>
        <a href="/vice-principal" class="btn">Know More</a>
      </div>
      <div class="container">
        <h3 class="uppercase"><span class="color">Academic </span>Officer</h3>
        <img src="/static/assets/home/academic.jpg" alt="academic">
        <p class="name color">Binita Kakoti</p>
        <p class="para">As the curtain falls on this academic year, let's celebrate together! You've woven a brilliant
          tapestry with threads of curiosity, creativity, and dedication.

          Your inquisitive minds ignited classrooms with insightful questions and passionate debates. </p>
        <a href="/academic" class="btn">Know More</a>
      </div>
      <div class="container">
        <h3 class="uppercase"><span class="color">ADVISER </span></h3>
        <img src="/static/assets/home/devojit.jpeg" alt="advisor">
        <p class="name color">Devojit Goswami</p>
        <p class="para">As the curtain falls on this academic year, let's celebrate together! You've woven a brilliant
          tapestry with threads of curiosity, creativity, and dedication.

          Your inquisitive minds ignited classrooms with insightful questions and passionate debates. </p>
        <a href="/advisor" class="btn">Know More</a>
      </div>
    </section>

    <!-- ========================================================================
    DESCRIPTION CONTAINER ENDS HEREE
    ================================================================================= -->

    <section class="adm-not wigin">
      <div class="conBox">
        <div class="background">
          <h3 class="uppercase">Stream</h3>
        </div>
        <div class="flex">
          <div class="art box">
            <i class="uil uil-graduation-cap"></i>
            <p class="para">Arts</p>
          </div>
          <div class="science box">
            <i class="uil uil-atom"></i>
            <p class="para">Science</p>
          </div>
          <div class="commerce box">
            <i class="uil uil-chart-bar"></i>
            <p class="para">Commerce</p>
          </div>
        </div>
      </div>
      <div class="conTru">
        <div class="background">
          <h3 class="uppercase">notice</h3>
        </div>
        <div class="conTru-scroller">
          <p class="uppercase casescroll">Admission going on</p>
          <p class="uppercase casescroll">medium of instruction-<span class="color">English</span> &amp; <span
              class="color">Assamese</span></p>
          <!-- <p class="uppercase casescroll">Admission going on</p>  -->
        </div>
      </div>
    </section>

    <!-- ADMISSION BUTTON  -->
    <div class="relative">
      <div class="adm-btn wigin">
        <a href="/admission-form" class="btn">Apply Now</a>
      </div>
    </div>

    <!-- ========================================================================
      ADMISSION SECTION ENDS HERE
      ====================================================================== -->
    <section class="details wigin">
      <div class="staff detBox" onclick="location.href=`/staff`">
        <i class="uil uil-users-alt"></i>
        <p class="uppercase">Staff</p>
      </div>
      <div class="feeStructure detBox" onclick="location.href = `/fee-structure`">
        <i class="uil uil-rupee-sign"></i>
        <p class="uppercase">Fee Structure</p>
      </div>
      <div class="rules detBox" onclick="location.href = `/rules`">
        <i class="uil uil-book-alt"></i>
        <p class="uppercase">Rules</p>
      </div>
      <div class="facilities detBox" onclick="location.href = `/facilities`">
        <i class="uil uil-abacus"></i>
        <p class="uppercase">facilities</p>
      </div>
    </section>

    <!-- ========================================================================
    DETAILS SECTION ENDS HERE
    ====================================================================== -->

    <section class="gallery wigin">
      <div class="heading flex">
        <h3 class="uppercase">IMAGE <span class="color">gallery</span></h3>
        <a onclick="location.href = `/gallery`" class="btn">View All</a>
      </div>
      <div class="image-container flex">
        <img src="/static/assets/gallery/image-1.jpeg" alt="image">
        <img src="/static/assets/gallery/image-4.jpeg" alt="image">
        <img src="/static/assets/gallery/image-7.jpeg" alt="image">
        <img src="/static/assets/gallery/image-12.jpeg" alt="image">
      </div>
    </section>
    <!-- ========================================================================
    GALLERY SECTION ENDS HERE
    ====================================================================== -->

    
      <!-- ========================================================================
    BACKGROUND IMAGE CONTAINER
    ====================================================================== -->
      <section class="background-blur hide">
        <div class="image-container">
          <!-- <span id="closeImg"><i class="uil uil-multiply"></i></span> -->
          <img alt="img" id="photoimage">
        </div>
      </section>
<!-- ========================================================================
    SUBJECT SELECTION MODAL POPUP 
    ====================================================================== -->

    <section class="modal_popup hide">
      <div class="modal_container wigin">
        <div class="background">
          <h3 class="arts uppercase">arts</h3>
        </div>
        <!-- ARTS  -->
        <ul class="arts subjects">
          <li class="name">English</li>
          <li class="name">M.I.L(Assamese, Bengali, Hindi)/Alternative English</li>
          <li class="name">Economics</li>
          <li class="name">Political Science</li>
          <li class="name">Education</li>
          <li class="name">Logic &amp; Philosophy</li>
          <li class="name">Sociology</li>
          <li class="name">History</li>
          <li class="name">Geography</li>
          <li class="name">Advance Assamese / Advance Hindi</li>
          <li class="name">Mathematics</li>
          <li class="name">Sanskrit</li>
          <li class="name">Swadesh Adhyayan</li>
          <li class="name">Bihu</li>
          <li class="name">Computer Science</li>
        </ul>
      </div>
    </section>
  
    <!-- SCIENCE  -->
    <section class="sci_modal_popup hide">
      <div class="modal_container wigin">
        <div class="background">
          <h3 class="sciences uppercase">science</h3>
        </div>
        <ul class="science subjects">
          <li class="name">English</li>
          <li class="name">M.I.L(Assamese, Bengali, Hindi)/Alternative English</li>
          <li class="name">Physics</li>
          <li class="name">Chemistry</li>
          <li class="name">Mathematics</li>
          <li class="name">Biology</li>
          <li class="name">Statistics</li>
          <li class="name">Geography &amp; Economics</li>
          <li class="name">Computer Science</li>
        </ul>
      </div>
    </section>
  
    <!-- COMMERCE  -->
  
    <section class="com_modal_popup hide">
      <div class="modal_container wigin">
        <div class="background">
          <h3 class="commerces uppercase">commerce</h3>
        </div>
        <ul class="commerce subjects">
          <li class="name">English</li>
          <li class="name">M.I.L(Assamese, Bengali, Hindi)/Alternative English</li>
          <li class="name">Accountancy</li>
          <li class="name">Business Mathematics &amp; Statistics</li>
          <li class="name">Business Studies</li>
          <li class="name">Economics</li>
          <li class="name">Finance</li>
          <li class="name">Computer Science</li>
        </ul>
      </div>
    </section>
    <!-- ========================================================
      MODAL POPUPS
      ===================================================== -->
    <%-include(`../views/partials/footer.ejs`) %>
      <script src="/static/app/js/main.js"></script>
</body>

</html>