<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kalong Kapili Vidyapith</title>

  <link rel="stylesheet" href="/static/SCHOOL/css/main.css" />

  <!-- Icons Css  -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
  <%- include('./partials/school.header.ejs') %>
    <!-- ========HEADER ENDS HERE========= -->

    <%- include('./partials/school.nav.ejs') %>
      <!-- ========NAVBAR ENDS HERE=========== -->


      <section class="slides wigin">
        <div class="carousel">
          <img src="/static/SCHOOL/img/slider-img/slider-7.jpeg" alt="slider">
        </div>
        <div class="carousel">
          <img src="/static/SCHOOL/img/slider-img/slider-6.jpeg" alt="slider">
        </div>
        <div class="carousel">
          <img src="/static/SCHOOL/img/slider-img/slider-3.jpeg" alt="slider">
        </div>
        <div class="carousel">
          <img src="/static/SCHOOL/img/slider-img/slider-8.jpeg" alt="slider">
        </div>
        <div class="carousel">
          <img src="/static/SCHOOL/img/gallery/image-18.png" alt="slider">
        </div>
        <div class="carousel">
          <img src="/static/SCHOOL/img/gallery/image-19.jpg" alt="image">
        </div>
      </section>

      <!-- =======SLIDER ENDS HERE========= -->
      <div class="aboutus-container wigin">
        <h3 class="uppercase">About <span class="color">Kalong Kapili Vidyapith</span></h3>
        <p class="para">Kalong Kapili Vidyapith, School Section is located in the heart of Nagaon town. The school has
          well-equipped class-rooms with close circuit cameras, library with adequate number of books, journals and
          periodicals, science laboratories with sophisticated instruments, generator facility for uninterrupted power
          supply and a good number of Water Purifiers for supplying pure drinking water. The school campus is extremely
          safe and there are close circuit cameras in every corner to ensure security of the students....</p>
        <a onclick="location.href = `/school/school-aboutUs`" class="btn">Know More</a>
      </div>

      <!-- ===========ABOUT US SECTION ENDS HERE=========== -->
      <section class="description wigin">
        <div class="container">
          <h3 class="uppercase"><span class="color">Principal"s </span>Desk</h3>
          <img src="/static/SCHOOL/img/home/banashree.jpg" alt="Principal">
          <p class="name color">Banashree Agasty</p>
          <p class="para">I am extremely delighted to welcome you to Kalong Kapili Vidyapith, School Section. We offer
            our students the best possible opportunities to become confident, thoughtful young people who are prepared
            for any future challenges in an exciting and increasingly global world.</p>
          <a onclick="location.href = `/school/school-principal`" class="btn">Know More</a>
        </div>
        <div class="container">
          <h3 class="uppercase"><span class="color">Rector's</span> Corner</h3>
          <img src="/static/SCHOOL/img/home/rector.jpg" alt="rector">
          <p class="name color">Sri Bidhan Boruah</p>
          <p class="para">I extend to you all a very warm welcome to our college Website. We have tried to create an
            online
            resource that provides all relevant information about Kalong Kapili Vidyapith and hope that as you
            pursue through the contents of this website, you will
            get a sense of the rich flavour of life at our college.</p>
          <a onclick="location.href = `/school/school-rector`" class="btn">Know More</a>
        </div>
        <div class="container">
          <h3 class="uppercase"><span class="color">CHIEF ADVISOR's</span> desk</h3>
          <img src="/static/SCHOOL/img/home/chief-advisor.jpeg" alt="Chief-Advisor">
          <p class="name color">Sri Manabendra Nag</p>
          <p class="para">It is with great pleasure that I welcome you to KKV School section. Our mission is to enable
            our students to realise their full potential in a caring and positive learning environment that enhances
            academic achievements instilling values which guide the daily lives of our students.</p>
          <a onclick="location.href = `/school/school-chief-advisor`" class="btn">Know More</a>
        </div>
        <div class="container">
          <h3 class="uppercase"><span class="color">Administrator</span> message</h3>
          <img src="/static/SCHOOL/img/home/devojit.jpeg" alt="Administrator">
          <p class="name color">Devojit Goswami</p>
          <p class="para">A school is only as strong as its foundation, and at Kalong Kapili Vidyapith, our dedicated faculty and staff are the cornerstone of our success. I extend my deepest gratitude to our teachers, who bring passion, expertise, and unwavering support to every classroom. Your dedication inspires our students to reach their full...</p>
          <a onclick="location.href = `/school/school-administrator`" class="btn">Know More</a>
        </div>
        <div class="container">
          <h3 class="uppercase"><span class="color">Vice-Principal's</span> message</h3>
          <img src="/static/SCHOOL/img/home/monalisha.jpeg" alt="Advisor">
          <p class="name color">Monalisha Saikia</p>
          <p class="para">As the new year dawns and the familiar buzz of Kalong Kapili Vidyapith fills the air again, I'm thrilled to extend a warm welcome to our returning students, dedicated staff, and supportive families. It's an exciting time to be here, brimming with the promise of fresh learning, personal growth, and shared experiences.</p>
          <a onclick="location.href = `/school/school-vice-principal`" class="btn">Know More</a>
        </div>
        <div class="container">
          <h3 class="uppercase"><span class="color">Academic</span> Officer</h3>
          <img src="/static/SCHOOL/img/home/academic.jpg" alt="academic officer">
          <p class="name color">Dr. Rinju Bharali</p>
          <p class="para">At the heart of Kalong Kapili Vidyapith lies a deep commitment to academic excellence. We believe in fostering a stimulating environment where critical thinking flourishes, creativity takes flight, and knowledge reigns supreme. Our dedicated faculty, equipped with passion and expertise</p>
          <a onclick="location.href = `/school/school-academic`" class="btn">Know More</a>
        </div>
      </section>

      <!-- ========================================================================
      DESCRIPTION CONTAINER ENDS HEREE
      ================================================================================= -->

      <section class="adm-not wigin">
        <div class="conBox">
          <div class="background">
            <h3 class="uppercase">classes</h3>
          </div>
          <div class="fgrid">
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Nursery</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">L.K.G.</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">U.K.G.</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class I</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class II</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class III</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class IV</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class V</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class VI</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class VII</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class VIII</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class IX</p>
            </div>
            <div class="box">
              <i class="uil uil-graduation-cap"></i>
              <p class="para">Class X</p>
            </div>
          </div>
        </div>
        <div class="conTru">
          <div class="background">
            <h3 class="uppercase">notice</h3>
          </div>
          <div class="conTru-scroller">
            <p class="uppercase casescroll">Admission going on</p>
            <p class="uppercase casescroll">medium of instruction-<span class="color">English</span> &amp; <span
                class="color">Assamese</span></p>
            <!-- <p class="uppercase casescroll">Admission going on</p>  -->
          </div>
        </div>
      </section>

      <!-- ADMISSION BUTTON  -->
      <div class="relative">
        <div class="adm-btn wigin">
          <a onclick="location.href = `/school/school-admissionForm`" class="btn">Apply Now</a>
        </div>
      </div>

      <!-- ========================================================================
        ADMISSION SECTION ENDS HERE
        ====================================================================== -->
      <section class="details wigin">
        <div class="staff detBox" onclick="location.href=`/school/school-staff`">
          <i class="uil uil-users-alt"></i>
          <p class="uppercase">Staff</p>
        </div>
        <div class="feeStructure detBox" onclick="location.href = `/school/school-fee-structure`">
          <i class="uil uil-rupee-sign"></i>
          <p class="uppercase">Fee Structure</p>
        </div>
        <div class="rules detBox" onclick="location.href = `/school/school-rules`">
          <i class="uil uil-book-alt"></i>
          <p class="uppercase">Rules</p>
        </div>
        <div class="facilities detBox" onclick="location.href = `/school/school-facilities`">
          <i class="uil uil-abacus"></i>
          <p class="uppercase">facilities</p>
        </div>
      </section>

      <!-- ========================================================================
      DETAILS SECTION ENDS HERE
      ====================================================================== -->

      <section class="gallery wigin">
        <div class="heading flex">
          <h3 class="uppercase">IMAGE <span class="color">gallery</span></h3>
          <a onclick="location.href = `/school/school-gallery`" class="btn">View All</a>
        </div>
        <div class="image-container flex">
          <% results?.forEach((el)=>{ %>
            <img src="/static<%= el.img_link %>" alt="image">
          <% }) %>
          <!-- <img src="/static/SCHOOL/img/gallery/image-1.jpeg" alt="image">
          <img src="/static/SCHOOL/img/gallery/image-4.jpeg" alt="image">
          <img src="/static/SCHOOL/img/gallery/image-7.jpeg" alt="image">
          <img src="/static/SCHOOL/img/gallery/image-12.jpeg" alt="image"> -->
        </div>
      </section>
      <!-- ========================================================================
                          GALLERY SECTION ENDS HERE
      ====================================================================== -->

      <%- include('./partials/school.footer.ejs') %>


</body>

</html>