.staff-header-container h3 {
    letter-spacing: 2px;
    font-weight: 700;
}

.staff-header-container a i {
    font-size: 15px;
}

/* --STAFF IMAGE-FIELD-- */
.staff-img-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.staff-img-grid .field {
    outline: 1px solid var(--primary-outline);
    /* background: var(--background); */
    padding: var(--padding-rem-1);
    border-radius: var(--border-radius-1);
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    justify-content: unset;
}
.staff-img-grid .field:hover{
    box-shadow: var(--box-shadow-primary);
}

.staff-img-grid .field img {
    width: 100px;
    aspect-ratio: 1/1;
}

.staff-img-grid .field-data p span:first-child {
    font-weight: 500;
    color: var(--grey);
}

.staff-img-grid .field-data p span:last-child {
    font-weight: 600;
}

.staff-img-grid .field a {
    font-size: 12px;
    padding: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-out;
    overflow: hidden;
}
.staff-img-grid .field .pen{
    position: absolute;
    top: 10px;
    right: 10px;
}
.staff-img-grid .field .trash{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--red-light-color);
    color: var(--red);
}
.staff-img-grid .field a i {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
    margin-left: -1px;
}

.staff-img-grid .field a span {
    display: inline-block;
    color: var(--primary-color);
    font-weight: 600;
}
#file-staff {
    width: 50%;
}

/* RESPONSIVE CLASSES */
@media (max-width: 768px) {
    .staff-img-grid .field-data p {
        font-size: 12px;
    }
    .staff-img-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px){
    .staff-type-container a.btn{
        font-size: 13px;
    }
}