@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --black: hsl(0, 0%, 0%);
    --black-light: rgba(0, 0, 0, 0.2);
    --white: hsl(100, 100%, 100%);
    --grey: hsl(0, 0%, 40%);

    --primary-color: hsl(2, 91%, 36%);
    --primary-outline: hsla(2, 91%, 36%, 0.15);
    --primary-outline-2: hsla(2, 91%, 36%, 0.1);
    --primary-light-color: hsl(2, 91%, 95%);
    --primary-color-lite: hsl(2, 91%, 90%);
    --background: hsl(0, 37%, 97%);

    --green: hsl(160, 100%, 34%);
    --green-outline: hsla(160, 100%, 34%, 0.2);
    --green-light: hsl(154, 61%, 90%);
    --green-bg: hsl(160, 100%, 95%);
    --green-bgr: hsl(160, 100%, 90%);
    --green-bgrd: hsl(160, 100%, 88%);

    --red: hsl(0, 100%, 45%);
    --red-outline: hsla(0, 100%, 45%, 0.2);
    --red-dark-color: hsl(0, 100%, 50%);
    --red-light-color: hsl(0, 100%, 95%);


    --border-radius-1: 5px;
    --border-radius-2: 8px;
    --border-radius-3: 10px;


    --padding-1: 5px;
    --padding-2: 10px;
    --padding-rem-0: 0.5rem;
    --padding-rem-1: 1rem;
    --padding-rem-2: 1.5rem;
    --padding-rem-3: 2rem;

    --animation: : all 300ms ease-in-out;
    --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --box-shadow-green: hsl(160, 100%, 34%) 0px 1px 4px;
    --box-shadow-red: hsl(0, 100%, 45%) 0px 1px 4px;
    --box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow-primary: hsla(9, 77%, 51%, 0.2) 1px 2px 4px;
    --box-shadow-3: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: var(--white);
    background: var(--primary-color);
}

body {
    font-family: "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--background);
    scrollbar-width: thin;
}

body.flow {
    overflow: scroll;
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    border-radius: var(--border-radius-1);
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    cursor: pointer;
}

hr {
    outline: 1px solid var(--primary-outline);
}

/* .wigin {
    width: 90%;
    margin: auto;
} */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    /* flex-wrap: wrap; */
}

.btn {
    display: inline-block;
    background: var(--primary-light-color);
    color: var(--primary-color);
    padding: 7px 10px;
    border-radius: 4px;
    outline: 1px solid var(--primary-outline);
    font-weight: 700;
    transition: all 300ms ease;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: var(--box-shadow-primary);
}

.hide {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.color {
    color: var(--primary-color);
}

/* header starts here  */
header {
    height: 3rem;
    padding: var(--padding-rem-3);
    border-bottom: 1px solid var(--primary-outline);
    /* box-shadow: var(--box-shadow-2); */
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

#hamburger {
    display: none;
}

#hamburger i {
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 5px;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

#hamburger:hover i {
    color: var(--primary-color);
    background: var(--primary-light-color);
}

/* main starts here  */
main {
    position: relative;
    display: grid;
    grid-template-columns: 15rem 1fr;
    margin-top: 4rem;
}

/* --NAVBAR-- */
nav {
    background: var(--white);
    height: 100vh;
    position: relative;
}

nav ul li {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

nav ul li a {
    height: 3rem;
    margin-left: 1rem;
    padding-left: 1rem;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    width: 87%;
    border-radius: var(--border-radius-1);

}

nav ul li a:is(:hover, .active) {
    background: var(--primary-light-color);
    color: var(--primary-color);
}

nav ul li a i {
    font-size: 1.2rem;
}

nav ul li:last-child {
    position: absolute;
    top: 75%;
    left: 0;
}

nav ul li a:last-child:hover {
    background: var(--red-light-color);
    color: var(--red);
}

.content-container {
    border-top-left-radius: var(--border-radius-1);
    padding: var(--padding-rem-1) var(--padding-rem-2);
}

.common-container {
    padding: var(--padding-2);
    box-shadow: var(--box-shadow-primary);
    border-radius: var(--border-radius-1);
    overflow: hidden;
    background: var(--white);
    margin-bottom: 1rem;
}


/* --RESPONSIVE-- */
@media (max-width: 748px) {
    header {
        padding: var(--padding-rem-3) var(--padding-rem-1);
        box-shadow: var(--box-shadow-primary);
    }

    #hamburger {
        display: block;
    }

    main {
        grid-template-columns: 1fr;
    }

    nav {
        position: absolute;
        top: 0;
        width: 100%;
        left: -100%;
        background: var(--background);
        transition: all 300ms ease;
    }
    nav.open{
        left: 0;
    }

    nav ul li a {
        width: 90%;
        margin: 0.8rem auto 0;
    }

    .content-container {
        padding: var(--padding-2);
    }
}