/* --CONTENT-- */
.search-bar{
    max-width: 380px;
    width: 100%;
    height: 2.3rem;
    padding: 8px;
    background: var(--white);
    border-radius: var(--border-radius-1);
    outline: 1px solid var(--primary-outline);
}
.search-bar:hover{
    box-shadow: var(--box-shadow-primary);
}
.search-bar input{
    width: 100%;
    font-size: 16px;
    height: 2.08rem;
    font-weight: 500;
}
.content-header a{
    display: none;
}

/* MAIN CONTENT  */
.main-content{
    margin-top: 1rem;
    width: 100%;
    background: var(--white);
    outline: 1px solid var(--primary-outline);
    padding: var(--padding-rem-1);
    border-radius: var(--border-radius-1);
    width: 100%;
}
.cgrid{
    display: grid;
    grid-template-columns: 5rem repeat(3, minmax(0, 1fr));
    width: 100%;
    margin-top: 1rem;
}
.m-header{
    padding: 0 20px;
}
.m-header h5{
    color: var(--grey);
}
.m-content{
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0 var(--padding-2);
}
.m-details{
    border-radius: var(--border-radius-2);
    outline: 1px solid var(--primary-outline);
    padding: var(--padding-2);  
    transition: all 300ms ease-in-out; 
    cursor: pointer;
}
.m-details:hover{
    background: var(--primary-light-color);
    box-shadow: var(--box-shadow-primary);
}
.m-details p:nth-child(3){
    margin-left: 5px;
}
.m-details p:nth-child(4){
    margin-left: 7px;
}
.m-details:hover p span{
    transition: var(--animation);
}
.m-details:hover p span:first-child{
    color: var(--black);
}
.m-details:hover p span:last-child{
    color: var(--primary-color);
}
.m-details p{
    display: flex;
    flex-direction: column;
    gap: px;
}
.m-details p span:first-child{
    font-weight: 600;
    display: none;
    font-size: 12px;
    color: var(--grey);
}
.m-details p span:last-child{
    font-weight: 600;
}

/* -----MODAL WINDOW--- */

.mainModal h4{
    text-decoration: underline;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}
.p-flex{
    display: flex;
    gap: 1rem;
}
.element span{
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
}
.element p{
    font-size: 15px;
    font-weight: 600;
}
.g-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
}
.e-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.mainModal a.btn{
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}
.mainModal a.btn:hover{
    background: var(--green-bgr);
    color: var(--green);
    outline: 1px solid var(--green-outline);
    box-shadow: var(--box-shadow-green);
}
#closeModal{
    padding: 5px 8px;
    font-size: 18px;
    background: var(--red-light-color);
    color: var(--red);
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    cursor: pointer;
    right: 1rem;
}
/* ---COLLEGE--- */
.f-grid{
    grid-template-columns: repeat(5, 1fr);
}


/* --RESPONSIVE-- */
@media (max-width: 748px){
    .main-content{
        padding: 0;
    }
    .main-content h4{
        padding: var(--padding-rem-1);
    }
    .cgrid{
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .m-header{
        display: none;
    }
    .m-content{
        padding: var(--padding-2);
    }
    .m-details p:is(:nth-child(3), :last-child){
        margin-left: 0;
    }
    .m-details p span:first-child{
        display: block;
    }
    .m-details p span:last-child{
        font-size: 14px;
    }
    .g-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 480px) {
    .p-flex{
        flex-wrap: wrap;
    }
    .element p{
        word-break: break-all;
    }
    .v-btn{
        grid-template-columns: 1fr;
        gap: 0;
    }
}