:root {
    --primary-color: rgb(177, 14, 8);
    --primary-light: hsl(14, 55%, 94%);
  }
  

*{
    margin : 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a{
    color: black;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.header .top {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    padding: 1rem;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

aside{
    background-color: rgb(255, 255, 255);
}

/* @media (max-width: 480px) {
    aside{
        height: 0vh;
    }
} */

aside .sidebar {
    background-color: rgb(255top, 255, 255);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}
@media (max-width: 480px) {
    aside .sidebar {
        position: fixed;
        display: none;
        background-color: rgb(255, 255, 255);
        width: 60vw;
    }

    .first-box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgb(180, 180, 180);
        
    }
  }

aside .sidebar a{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 4rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: var(--primary-light);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--primary-color);
}

aside .sidebar a:hover {
    color: var(--primary-color);
   
}

.recent-adm table {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 6px 35px 10px #b6b6b6;
    margin-top: 1.5rem;

}

main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.recent-adm table td {
    height: 3rem;
    border-bottom: 1px solid rgb(156, 156, 156);
    color: rgb(99, 97, 97);
}

.recent-adm table td.td {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3;
}

.recent-adm table td:hover {
    color: rgb(99, 97, 97);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



.hide{
    display: none;
}


/* pop up box css */


.pop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 6px 35px 8px #302f2f;
    z-index: 2;
    width: 60vw;
    height: 85vh;
}


.form-el {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 90%;
    overflow-y: auto;
}

.first-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(180, 180, 180);
    
}

.sec-box {
    padding: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.st-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 140px;
    overflow: hidden;
}

.st-img img {
    width: 100%;
    height: auto;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.drop-text {
    color: #726f6f;
    margin-top: 7px;
    font-weight: 600;
    font-size: 15px;
}

.drop-title {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

.form-elem-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-text-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.6rem;
}

.btn {
    background-color: var(--primary-light);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    color: var(--primary-color);
    margin-bottom: .6rem;
    font-weight: 600;
}

h4 {
    color: #464646;
    text-decoration: underline;
}

  /* search bar css */

  .searchBar {
    border: 1px solid black;
    border-radius: 5px;
    width: 50vw;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .searchBar input {
    padding: 10px;
    width: 93%;
    font-size: 16px;
  }

  .searchBar span {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 800;
    padding: 7px;
  }

  @media (max-width: 480px) {
    .pop-content {
        top: 48%;
        left: 50%;
        width: 90vw;
        height: 76vh;
        overflow-y: auto;  
    }

    .down-text-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    .drop-title{
        font-size: 12px;
    }

    .drop-text {
        font-size: 12px;
    }

    .searchBar {
        width: 96vw;
    }

    .container {
        grid-template-columns: 1fr;
      }

  }



