<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rector's Corner | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
            <section class="boxContainer wigin mt facilities">
                <h2 class="uppercase">FACILITIES</h2>
                <h3>LIBRARY FACILITY</h3>
                <p class="para">
                    Students will be issued Library Cards after their admission against which they will be able to
                    borrow two books at a time from the college library for a period of two weeks. They must return the
                    books to the Library before the announcement of the result of the Screening Test examination,
                    falling which their results will be kept withheld.
                </p>
                <hr>
                <h3>HOSTEL FACILITY</h3>
                <p class="para">Hostel facility will be provided for female students coming from out side the town area
                    on payment of fees for food & lodging.</p>
                <hr>
                <h3>SCHOLARSHIP</h3>
                <p class="para">Students may enjoy State Merit Scholarship, ST/SC/OBC & Minority Scholarships etc.
                    according to their eligibility.</p>
                <hr>
                <h3>AWARDS</h3>
                <p class="para">The college authority has declared Kalong Kapili Award comprising of a cheque of Rupees
                    Fifty thousand and certificate to the student who secures highest percentage of marks in the H.S.
                    Final Examination of the college.
                    Moreover, Manabendra Nag Award that includes a cheque of Rupees Twenty thousand and certificate is
                    awarded to the student who obtains highest percentage of marks in the H.S. First Year Examination.
                </p>
                <hr>
                <h3>SPECIAL ATTRACTIONS OF THE COLLEGE</h3>
                <p class="para">SEMINARS, DEBATE & SYMPOSIUMS, QUIZ COMPETITIONS, CULTURAL FUNCTIONS, GAMES AND SPORTS,
                    ETC.</p>

            </section>
            <%- include('../partials/footer.ejs') %>
                <script src="/static/app/js/main.js"></script>
</body>

</html>