<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rector's Corner | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
            <section class="fee-structure cover wigin mt">
                <h2 class="uppercase">fee Structure for hs 1st year</h2>
                <div class="coverBox feeBox">
                    <table class="boxContainer">
                        <th class="uppercase color">arts</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;11,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,100/-</td>
                        </tr>
                    </table>
                    <table class="boxContainer">
                        <th class="uppercase color">science</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;17,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,700/-</td>
                        </tr>
                    </table>
                    <table class="boxContainer">
                        <th class="uppercase color">commerce</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;11,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,100/-</td>
                        </tr>
                    </table>
                </div>
                <h2 class="uppercase">fee Structure for hs 2nd year</h2>
                <div class="coverBox feeBox">
                    <table class="boxContainer">
                        <th class="uppercase color">arts</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;11,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,100/-</td>
                        </tr>
                    </table>
                    <table class="boxContainer">
                        <th class="uppercase color">science</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;17,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,700/-</td>
                        </tr>
                    </table>
                    <table class="boxContainer">
                        <th class="uppercase color">commerce</th>
                        <tr class="flex">
                            <td>Admission Fee -</td>
                            <td>&#8377;11,500/-</td>
                        </tr>
                        <tr class="flex">
                            <td>Monthly Fee -</td>
                            <td>&#8377;1,100/-</td>
                        </tr>
                    </table>
                </div>

                <p class="name color">N.B: If monthly fee is not paid for three consecutive months, the name of the
                    defaulter student will be struck off from the Admission Register. Fees once received are not
                    refundable.</p>
            </section>
            <%- include('../partials/footer.ejs') %>
                <script src="/static/app/js/main.js"></script>
</body>

</html>