<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <section class="staff cover wigin mt">
        <h2 class="uppercase">HEAD STAFF</h2>
        <div class="coverBox boxContainer gridBox">
            <div class="profile boxContainer">
                <img src="/static/assets/home/principal.jpeg" alt="image">
                <p class="uppercase">Manabendra Nag</p>
                <p class="color name">Chief Adviser</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/home/rector.jpg" alt="image">
                <p class="uppercase">Bidhan Boruah</p>
                <p class="color name">Rector</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/home/banashree.jpg" alt="image">
                <p class="uppercase">Banashree Agasty</p>
                <p class="color name">Principal</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/home/Vice-Principal.jpg" alt="image">
                <p class="uppercase">Sri Shekhar Jyoti Saikia</p>
                <p class="color name">Vice Prinicpal</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/home/devojit.jpeg" alt="image">
                <p class="uppercase">Devojit Goswami</p>
                <p class="color name">Adviser</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Binita-Kakoti-Assamese-scaled.jpg" alt="image">
                <p class="uppercase">Binita Kakoti </p>
                <p class="color name">Academic Officer</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/home/madhumita.jpg" alt="image">
                <p class="uppercase">Madhumita Baruah</p>
                <p class="color name">Superviser</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/ramesh.jpeg" alt="image">
                <p class="uppercase">Ramesh Kumar Prasad</p>
                <p class="color name">Head of KKV Computer Deptt.</p>
            </div>
        </div>
        <!-- 1st Box ends  -->
        <h2 class="uppercase">Teaching staff</h2>
        <div class="coverBox boxContainer gridBox">
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/jollybora.jpg" alt="image">
                <p class="uppercase">Jolly Bora, M.A.</p>
                <p class="name">Subject: <span class="color">English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/bonashree.jpg" alt="image">
                <p class="uppercase">Banashree Agasty, M.A.</p>
                <p class="name">Subject: <span class="color">English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Shagufta-Khan-English.jpg" alt="image">
                <p class="uppercase">Shagufta Sultana Khan, M.A.</p>
                <p class="name">Subject: <span class="color">English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/richa.jpg" alt="image">
                <p class="uppercase">Richa Devi, M.A.</p>
                <p class="name">Subject: <span class="color">English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Priya Nath.jpeg" alt="image">
                <p class="uppercase">Priya Nath, M.A.</p>
                <p class="name">Subject: <span class="color">Alternative English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/priyankadekaraja.jpg" alt="image">
                <p class="uppercase">Priyanka Dekaraja, M.A.</p>
                <p class="name">Subject: <span class="color">English</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Priti-Rani-Borah-Assamese.jpg" alt="image">
                <p class="uppercase">Priti Rani Borah , M.A. , B.Ed.</p>
                <p class="name">Subject: <span class="color">Assamese</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Madhabi-Baruah-Assamese.jpg" alt="image">
                <p class="uppercase">Madhabi Baruah , M.A. , B.Ed.</p>
                <p class="name">Subject: <span class="color">Assamese</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Krishnamoni-Borah-Assamese-scaled.jpg" alt="image">
                <p class="uppercase">Krishnamoni Borah , M.A.</p>
                <p class="name">Subject: <span class="color">Assamese</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/sewali.jpeg" alt="image">
                <p class="uppercase">Sewali Sarmah , M.A.</p>
                <p class="name">Subject: <span class="color">Sanskrit</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Payel-Ganguly-Bengali-scaled.jpg" alt="image">
                <p class="uppercase">Payel Ganguly , M.A.</p>
                <p class="name">Subject: <span class="color">Bengali</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/bornali.jpg" alt="image">
                <p class="uppercase">Barnali Modak , M.A.</p>
                <p class="name">Subject: <span class="color">Hindi</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Shilpi Shikha Bora.jpeg" alt="image">
                <p class="uppercase">Shilpi Shikha Bora</p>
                <p class="name">Subject: <span class="color">MIL Hindi</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/pallabiKalita.jpg" alt="image">
                <p class="uppercase">Pallabi Kalita , M.A.</p>
                <p class="name">Subject: <span class="color">Political-Science</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/HIMAKSHI-DAS-POLITICAL-SCIENCE.jpeg" alt="image">
                <p class="uppercase">Himakshi Das , M.A.</p>
                <p class="name">Subject: <span class="color">Political-Science</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Hirumoni-Sarma-Political-Science-scaled.jpg" alt="image">
                <p class="uppercase">Hirumoni Sarma , M.A.</p>
                <p class="name">Subject: <span class="color">Political-Science</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Juthika-Rani-Sarma-Logic-Philosophy.jpg" alt="image">
                <p class="uppercase">Juthika Rani Sarma , M.A. , B.Ed.</p>
                <p class="name">Subject: <span class="color">Logic and Philosophy</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/parismita.jpg" alt="image">
                <p class="uppercase">Parismita Saikia , M.A.</p>
                <p class="name">Subject: <span class="color">Logic and Philosophy</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/NIHARIKA-BORA-GEOGRAPHY.jpeg" alt="image">
                <p class="uppercase">Niharika Bora , M.A.</p>
                <p class="name">Subject: <span class="color">Geography</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Anamika Kakoti.jpeg" alt="image">
                <p class="uppercase">Anamika Kakoti, M.A.</p>
                <p class="name">Subject: <span class="color">Geography</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Anika Tehsin Islam.jpeg" alt="image">
                <p class="uppercase">Anika Tehsin Islam, M.A.</p>
                <p class="name">Subject: <span class="color">History</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/sangita.jpg" alt="image">
                <p class="uppercase">Sangita Dey, M.A. </p>
                <p class="name">Subject: <span class="color">Sociology</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/jubita.jpg" alt="image">
                <p class="uppercase">Jubita Bora, M.A.</p>
                <p class="name">Subject: <span class="color">Sociology</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/pranamita.jpg" alt="image">
                <p class="uppercase">Pranamita Boruah, M.A.</p>
                <p class="name">Subject: <span class="color">Sociology</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Himadri Devi.jpeg" alt="image">
                <p class="uppercase"> Himadri Devi, M.A.</p>
                <p class="name">Subject: <span class="color">Education</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/pallabiburagohain.jpg" alt="image">
                <p class="uppercase">Pallabi Buragohain, M.A.</p>
                <p class="name">Subject: <span class="color">Education</span></p>
            </div>
            <!-- profile-end  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/darshana.jpg" alt="image">
                <p class="uppercase">Darshana Bora, M.A.</p>
                <p class="name">Subject: <span class="color">Education</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Trisha Dutta.jpeg" alt="image">
                <p class="uppercase">Trisha Dutta, M.A.</p>
                <p class="name">Subject: <span class="color">Education</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Himadri Kalita.jpeg" alt="image">
                <p class="uppercase"> Himadri Kalita, M.A.</p>
                <p class="name">Subject: <span class="color">Economics</span></p>
            </div>
            <!-- profile-end  -->

            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Jyotishmita-Bora-Economics.jpg" alt="image">
                <p class="uppercase">Jyotismita Bora , M.A.</p>
                <p class="name">Subject: <span class="color">Economics</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Namami-Sharma-Economics.jpg" alt="image">
                <p class="uppercase">Namami Sharma, M.A.</p>
                <p class="name">Subject: <span class="color">Finance</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/sushmita.jpg" alt="image">
                <p class="uppercase">Sushmita Dutta, M.Com.</p>
                <p class="name">Subject: <span class="color">Business Studies</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Priyanka-Das-Accountancy-scaled.jpg" alt="image">
                <p class="uppercase">Priyanka Das , M.Com.</p>
                <p class="name">Subject: <span class="color">Business Studies</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Rukshar-Shehnaz-Fardeen-Accountancy-scaled.jpg" alt="image">
                <p class="uppercase">Rukshar Shehnaz Faardeen , M.Com.</p>
                <p class="name">Subject: <span class="color">Accountancy</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/mansi.jpg" alt="image">
                <p class="uppercase">Mansi Lohia , M.Com.</p>
                <p class="name">Subject: <span class="color">Accountancy</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Himashree Bora.jpeg" alt="image">
                <p class="uppercase">Himashree Bora, M.Com.</p>
                <p class="name">Subject: <span class="color">Finance</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/indrani.jpg" alt="image">
                <p class="uppercase">Indrani Kaur ,Msc & B.Ed</p>
                <p class="name">Subject: <span class="color">Commercial Mathematics and Statistics</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Ashim-Kalita-BMST.jpg" alt="image">
                <p class="uppercase">Ashim Kalita , M.Sc.</p>
                <p class="name">Subject: <span class="color">Mathematics</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/ramesh.jpeg" alt="image">
                <p class="uppercase">Ramesh Kumar Prasad</p>
                <p class="name">Subject: <span class="color">Computer Science</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/JHARNA-SAIKIA-ZOOLOGY.jpeg" alt="image">
                <p class="uppercase">Jharna Saikia , M.Sc.</p>
                <p class="name">Subject: <span class="color">Zoology</span></p>
            </div>
            <!-- profile-end  -->

            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/MADHUSMITA-BORA-BOTANY.jpeg" alt="image">
                <p class="uppercase">Madhusmita Bora , M.Sc.</p>
                <p class="name">Subject: <span class="color">Botany</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/bishnu.jpg" alt="image">
                <p class="uppercase">Bishnu Jyoti Kalita</p>
                <p class="name">Subject: <span class="color">Chemistry</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/himanshu.jpg" alt="image">
                <p class="uppercase">Himanshu Das, M.Sc.</p>
                <p class="name">Subject: <span class="color">Chemistry</span></p>
            </div>
            <!-- profile-end  -->
            <!-- profile  -->
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/uttam.jpg" alt="image">
                <p class="uppercase">Uttam Kumar Das , M.Sc.</p>
                <p class="name">Subject: <span class="color">Physics</span></p>
            </div>
            <!-- profile-end  -->
        </div>

        <h2 class="uppercase">Non-Teaching Staff</h2>
        <div class="coverBox boxContainer gridBox">
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Dipankar-Bhattacharya-Computer-Assistant.jpeg" alt="image">
                <p class="uppercase">Dipankar Bhattacharya </p>
                <p class="color name">Computer Assistant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Dabu-Bordoloi-Account.jpeg" alt="image">
                <p class="uppercase">Dabu Bordoloi</p>
                <p class="color name">Accountant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/pallabi bora.jpg" alt="image">
                <p class="uppercase">Pallabi Bora</p>
                <p class="color name">Receptionist</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Sibani Bora.jpeg" alt="image">
                <p class="uppercase">Sibani Bora</p>
                <p class="color name">Receptionist</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Kukila Bora.jpeg" alt="image">
                <p class="uppercase">Kukila Bora</p>
                <p class="color name">Office Assistant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Binod-BorahOffice-Bearer.jpeg" alt="image">
                <p class="uppercase"> Binod Saikia</p>
                <p class="color name">Office Bearer</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/samia.jpeg" alt="image">
                <p class="uppercase"> Samia Khatoon</p>
                <p class="color name">Library Assistant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Parag-BaruaScience-Bearer.jpeg" alt="image">
                <p class="uppercase"> Parag Barua</p>
                <p class="color name">Science Bearer</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Kunja-Bora-Peon.jpeg" alt="image">
                <p class="uppercase"> Kunja Bora</p>
                <p class="color name">Canteen Assistant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/bikash.jpeg" alt="image">
                <p class="uppercase"> Bikash Das</p>
                <p class="color name">CCTV Operator</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Majnur-Ali-night-Chokidar.jpeg" alt="image">
                <p class="uppercase">Majnur Ali</p>
                <p class="color name">Gateman</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/minara.jpg" alt="image">
                <p class="uppercase">Minara Begum</p>
                <p class="color name">Attendant</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Ali-Akbar-Night-chowkidar.jpeg" alt="image">
                <p class="uppercase"> Ali Akbar</p>
                <p class="color name">Night Chowkidar</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/Timlai-BasforWatchman.jpeg" alt="image">
                <p class="uppercase"> Timlai Basfor</p>
                <p class="color name">Watchman</p>
            </div>
            <div class="profile boxContainer">
                <img src="/static/assets/staff-img/sagar.jpg" alt="image">
                <p class="uppercase"> Sagar Basfor</p>
                <p class="color name">Watchman</p>
            </div>

        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>