<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <section class="boxContainer mt wigin admission">
            <h2 class="uppercase">admission form</h2>
            <div class="form">
                <form action="/college-form" method="post" enctype="multipart/form-data">
                    <h3 class="uppercase color">General Information</h3>
                    <div class="grid">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="field">
                            <label for="date">Date of Birth</label>
                            <input type="date" name="date" id="date">
                        </div>
                        <div class="field">
                            <label for="number">Phone Number</label>
                            <input type="text" name="number" id="number">
                        </div>
                        <div class="field">
                            <label for="email">Email Id</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="field">
                            <label for="gender">Gender</label>
                            <div class="flex1">
                                <input type="radio" name="gender" id="male" value="male" required>
                                <span>Male</span>
                                <input type="radio" name="gender" id="female" value="female" required>
                                <span>Female</span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="medium">Medium</label>
                            <input type="text" name="medium" id="medium">
                        </div>
                        <div class="field">
                            <label for="caste">Caste</label>
                            <input type="text" name="caste" id="caste">
                        </div>
                        <div class="field">
                            <label for="religion">Religion</label>
                            <input type="text" name="religion" id="religion">
                        </div>
                    </div>
                    <!-- ----------------------------------------------------- -->
                    <h3 class="uppercase color">Address</h3>
                    <div class="grid">
                        <div class="field">
                            <label for="resident">Residential Address</label>
                            <input type="text" name="resident" id="resident">
                        </div>
                        <div class="field">
                            <label for="district">District</label>
                            <input type="text" name="district" id="district">
                        </div>
                        <div class="field">
                            <label for="state">State</label>
                            <input type="text" name="state" id="state">
                        </div>
                        <div class="field">
                            <label for="country">Country</label>
                            <input type="text" name="country" id="country" value="India" readonly>
                        </div>
                        <div class="field">
                            <label for="pin">Pin Code</label>
                            <input type="text" name="pin" id="pin">
                        </div>
                    </div>
                    <!-- -------------------------------------------------------- -->
                    <h3 class="uppercase color">Qualifications</h3>
                    <div class="grid">
                        <div class="field">
                            <label for="exam">Examination</label>
                            <input type="text" name="exam" id="exam" value="Class X" readonly>
                        </div>
                        <div class="field">
                            <label for="board">Board</label>
                            <input type="text" name="board" id="board">
                        </div>
                        <div class="field">
                            <label for="percent">Percentage</label>
                            <input type="text" name="percent" id="percent">
                        </div>
                        <div class="field">
                            <label for="year">Year of Passing</label>
                            <input type="text" name="year" id="year">
                        </div>
                    </div>
                    <!-- -------------------------------------------------  -->
                    <h3 class="color uppercase">Course Applied for</h3>
                    <div class="grid">
                        <div class="field">
                            <label for="stream">Stream</label>
                            <div class="flex1">
                                <input type="radio" name="stream" value="arts" required>
                                <span>Arts</span>
                                <input type="radio" name="stream" value="science" required>
                                <span>Science</span>
                                <input type="radio" name="stream" value="commerce" required>
                                <span>Commerce</span>
                            </div>
                        </div>
                        <hr class="none">
                        <div class="field">
                            <label for="subjects">Subjects</label>
                            <div class="flex1">
                                <input type="radio" value="English" name="sub" checked>
                                <label for="english">English</label>
                                <select name="sub" id="">
                                    <option value="" hidden>Select MIL</option>
                                    <option value="alt-eng">Alternative English</option>
                                    <option value="alt-ass">Assamese(MIL)</option>
                                    <option value="alt-hin">Hindi(MIL)</option>
                                    <option value="alt-ben">Bengali(MIL)</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="opacity">Subject</label>
                            <select name="sub" id="">
                                <option value="" hidden>Select Subject</option>
                                <optgroup label="ARTS">
                                    <option value="eco">Economics</option>
                                    <option value="ps">Political Science</option>
                                    <option value="edu">Education</option>
                                    <option value="lp">Logic & Philosophy</option>
                                    <option value="soc">Sociology</option>
                                    <option value="his">History</option>
                                    <option value="geo">Geography</option>
                                    <option value="as">Advance (Assamese/Hindi)</option>
                                    <option value="math">Mathematics</option>
                                    <option value="sans">Sanskrit</option>
                                    <option value="sa">Swadesh Adhyayan</option>
                                    <option value="bihu">Bihu</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="SCIENCE">
                                    <option value="phy">Physics</option>
                                    <option value="chem">Chemistry</option>
                                    <option value="math">Mathematics</option>
                                    <option value="bio">Biology</option>
                                    <option value="st">Statistics</option>
                                    <option value="ge">Geography & Economics</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="COMMERCE">
                                    <option value="accountancy">Accountancy</option>
                                    <option value="bmst">Business Mathematics & Statistics</option>
                                    <option value="bst">Business Studies</option>
                                    <option value="eco">Economics</option>
                                    <option value="fin">Finance</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field">
                            <select name="sub" id="">
                                <option value="" hidden>Select Subject</option>
                                <optgroup label="ARTS">
                                    <option value="eco">Economics</option>
                                    <option value="ps">Political Science</option>
                                    <option value="edu">Education</option>
                                    <option value="lp">Logic & Philosophy</option>
                                    <option value="soc">Sociology</option>
                                    <option value="his">History</option>
                                    <option value="geo">Geography</option>
                                    <option value="as">Advance (Assamese/Hindi)</option>
                                    <option value="math">Mathematics</option>
                                    <option value="sans">Sanskrit</option>
                                    <option value="sa">Swadesh Adhyayan</option>
                                    <option value="bihu">Bihu</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="SCIENCE">
                                    <option value="phy">Physics</option>
                                    <option value="chem">Chemistry</option>
                                    <option value="math">Mathematics</option>
                                    <option value="bio">Biology</option>
                                    <option value="st">Statistics</option>
                                    <option value="ge">Geography & Economics</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="COMMERCE">
                                    <option value="accountancy">Accountancy</option>
                                    <option value="bmst">Business Mathematics & Statistics</option>
                                    <option value="bst">Business Studies</option>
                                    <option value="eco">Economics</option>
                                    <option value="fin">Finance</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field">
                            <select name="sub" id="">
                                <option value="" hidden>Select Subject</option>
                                <optgroup label="ARTS">
                                    <option value="eco">Economics</option>
                                    <option value="ps">Political Science</option>
                                    <option value="edu">Education</option>
                                    <option value="lp">Logic & Philosophy</option>
                                    <option value="soc">Sociology</option>
                                    <option value="his">History</option>
                                    <option value="geo">Geography</option>
                                    <option value="as">Advance (Assamese/Hindi)</option>
                                    <option value="math">Mathematics</option>
                                    <option value="sans">Sanskrit</option>
                                    <option value="sa">Swadesh Adhyayan</option>
                                    <option value="bihu">Bihu</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="SCIENCE">
                                    <option value="phy">Physics</option>
                                    <option value="chem">Chemistry</option>
                                    <option value="math">Mathematics</option>
                                    <option value="bio">Biology</option>
                                    <option value="st">Statistics</option>
                                    <option value="ge">Geography & Economics</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="COMMERCE">
                                    <option value="accountancy">Accountancy</option>
                                    <option value="bmst">Business Mathematics & Statistics</option>
                                    <option value="bst">Business Studies</option>
                                    <option value="eco">Economics</option>
                                    <option value="fin">Finance</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="field">
                            <select name="sub" id="">
                                <option value="" hidden>Select Subject</option>
                                <optgroup label="ARTS">
                                    <option value="eco">Economics</option>
                                    <option value="ps">Political Science</option>
                                    <option value="edu">Education</option>
                                    <option value="lp">Logic & Philosophy</option>
                                    <option value="soc">Sociology</option>
                                    <option value="his">History</option>
                                    <option value="geo">Geography</option>
                                    <option value="as">Advance (Assamese/Hindi)</option>
                                    <option value="math">Mathematics</option>
                                    <option value="sans">Sanskrit</option>
                                    <option value="sa">Swadesh Adhyayan</option>
                                    <option value="bihu">Bihu</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="SCIENCE">
                                    <option value="phy">Physics</option>
                                    <option value="chem">Chemistry</option>
                                    <option value="math">Mathematics</option>
                                    <option value="bio">Biology</option>
                                    <option value="st">Statistics</option>
                                    <option value="ge">Geography & Economics</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                                <optgroup label="COMMERCE">
                                    <option value="accountancy">Accountancy</option>
                                    <option value="bmst">Business Mathematics & Statistics</option>
                                    <option value="bst">Business Studies</option>
                                    <option value="eco">Economics</option>
                                    <option value="fin">Finance</option>
                                    <option value="cs">Computer Science</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <!-- ------------------------------------------------- -->
                    <h3 class="color uppercase">Upload Your Documents</h3>
                    <div class="grid">
                        <div class="field">
                            <label for="photo">Upload <span class="color">Photo</span></label>
                            <input type="file" name="st-photo" id="photo">
                        </div>
                        <div class="field">
                            <label for="photo">Upload <span class="color">Birth Certificate</span></label>
                            <input type="file" name="bc-photo" id="photo">
                        </div>
                        <div class="field">
                            <label for="photo">Upload <span class="color">Marksheet</span></label>
                            <input type="file" name="ms-photo" id="photo">
                        </div>
                        <div class="field">
                            <label for="photo">Upload <span class="color">School Certificate</span></label>
                            <input type="file" name="sc-photo" id="photo">
                        </div>
                    </div>
                    <!-- ------------------------------------------------- -->
                    
                    <h3 class="color uppercase">Terms & Conditions</h3>
                    <div class="ter field">
                        <label class="">Read carefully before filling out the admission form</label>
                        <label>1. Fill in the details of the form correctly.</label>
                        <label>2. One must submit proper photos in the required field.</label>
                        <label>3. Your photo and xerox copies documents are to be submitted offline along with the bill.(Before attending college)</label>
                        <label>4. If the payment cancels, try again after sometime or <span class="color" onclick="location.href =`/files/contact.html`">Contact Us</span> </label>
                    </div>
                    <div class="field">
                        <button type="submit" class="btn uppercase">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>