<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Form | KKV</title>

    <link rel="stylesheet" href="/static/SCHOOL/css/main.css" />
    <link rel="stylesheet" href="/static/SCHOOL/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/school.header.ejs') %>
    <%- include('../partials/school.nav.ejs') %>
    <section class="boxContainer mt wigin admission">
        <h2 class="uppercase">admission form</h2>
        <div class="form">
            <form action="/school-student-form" method="post" enctype="multipart/form-data">
                <h3 class="uppercase color">General Information</h3>
                <div class="grid">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="Name" id="name">
                    </div>
                    <div class="field">
                        <label for="date">Date of Birth</label>
                        <input type="date" name="DOB" id="date">
                    </div>
                    <div class="field">
                        <label for="aadhar">Aadhaar no.</label>
                        <input type="number" name="Aadhaar_no" id="aadhar">
                    </div>
                    <div class="field">
                        <label for="number">Phone Number</label>
                        <input type="text" name="ph_no" id="number">
                    </div>
                    <div class="field">
                        <label for="email">Email Id</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="field">
                        <label for="gender">Gender</label>
                        <div class="flex1">
                            <input type="radio" name="gender" id="male" value="m" required>
                            <span>Male</span>
                            <input type="radio" name="gender" id="female" value="f" required>
                            <span>Female</span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="nationality">Nationality</label>
                        <input type="text" name="nationality" id="nationality">
                    </div>
                    <div class="field">
                        <label for="religion">Religion</label>
                        <input type="text" name="religion" id="religion">
                    </div>
                    <div class="field">
                        <label for="mlang">Mother Tongue</label>
                        <input type="text" name="mother_tongue" id="mlang">
                    </div>
                    <div class="field">
                        <label for="caste">Caste</label>
                        <input type="text" name="caste" id="caste">
                    </div>
                    <div class="field">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category">
                    </div>
                    <div class="field">
                        <label for="lastSchool">School Last Attended</label>
                        <input type="text" name="last_school" id="lastSchool">
                    </div>
                    <div class="field">
                        <label for="aadhar">Physical Problems/Disability</label>
                        <input type="number" name="ph_disability" id="aadhar">
                    </div>
                </div>
                <!-- ----------------------------------------------------- -->
                <h3 class="uppercase color">Medical Information</h3>
                <div class="grid">
                    <div class="field">
                        <label for="blood">Blood Group</label>
                        <input type="text" name="blood_group" id="blood">
                    </div>
                    <div class="field">
                        <label for="imark">Identification Mark</label>
                        <input type="text" name="identification_mark" id="imark">
                    </div>
                </div>
                <!-- ----------------------------------------------------- -->
                <h3 class="uppercase color">Parent's Information</h3>
                <div class="grid">
                    <div class="field">
                        <label for="father">Father's name</label>
                        <input type="text" name="father_name" id="father">
                    </div>
                    <div class="field">
                        <label for="fqualifi">Qualification</label>
                        <input type="text" name="father_qualification" id="fqualifi">
                    </div>
                    <div class="field">
                        <label for="foccupation">Occupation</label>
                        <input type="text" name="father_occupation" id="foccupation">
                    </div>
                    <div class="field">
                        <label for="fnumber">Mobile no.</label>
                        <input type="text" name="father_ph_no" id="fnumber">
                    </div>
                    <div class="field">
                        <label for="femail">Email</label>
                        <input type="text" name="father_email" id="femail">
                    </div>
                    <div class="field">
                        <label for="faddress">Correspondence Address</label>
                        <input type="text" name="father_correspondence_address" id="faddress">
                    </div>
                </div>
                <!-- <br> -->
                <div class="grid">
                    <div class="field">
                        <label for="mather">Mother's name</label>
                        <input type="text" name="mother_name" id="mother">
                    </div>
                    <div class="field">
                        <label for="fqualifi">Qualification</label>
                        <input type="text" name="mother_qualification" id="fqualifi">
                    </div>
                    <div class="field">
                        <label for="moccupation">Occupation</label>
                        <input type="text" name="mother_occupation" id="moccupation">
                    </div>
                    <div class="field">
                        <label for="mnumber">Mobile no.</label>
                        <input type="text" name="mother_ph_no" id="mnumber">
                    </div>
                    <div class="field">
                        <label for="femail">Email</label>
                        <input type="text" name="mother_email" id="femail">
                    </div>
                    <div class="field">
                        <label for="maddress">Correspondence Address</label>
                        <input type="text" name="mother_correspondence_address" id="maddress">
                    </div>
                </div>
                <!-- ----------------------------------------------------- -->
                <h3 class="uppercase color">Address</h3>
                <div class="grid">
                    <div class="field">
                        <label for="resident">Residential Address</label>
                        <input type="text" name="residential_address" id="resident">
                    </div>
                    <div class="field">
                        <label for="district">District</label>
                        <input type="text" name="district" id="district">
                    </div>
                    <div class="field">
                        <label for="state">State</label>
                        <input type="text" name="state" id="state">
                    </div>
                    <div class="field">
                        <label for="country">Country</label>
                        <input type="text" name="country" id="country" value="India" readonly>
                    </div>
                    <div class="field">
                        <label for="pin">Pin Code</label>
                        <input type="text" name="pincode" id="pin">
                    </div>
                </div>
                <!-- -------------------------------------------------  -->
                <h3 class="color uppercase">Class Applied for</h3>
                <div class="field">
                    <label for="stream">Class</label>
                    <div class="grid1">
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="Nursery" required>
                            <span>Nursery</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="lkg" required>
                            <span>L.K.G.</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>U.K.G.</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class I</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class II</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class III</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class IV</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class V</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class VI</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class VII</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class VIII</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class IX</span>
                        </div>
                        <div class="flex1">
                            <input type="radio" name="class_enrolled" value="ukg" required>
                            <span>Class X</span>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------- -->
                <h3 class="color uppercase">Upload Your Documents</h3>
                <div class="grid3">
                    <div class="field">
                        <label for="photo">Upload <span class="color">Photo</span></label>
                        <input type="file" name="sst-photo" id="photo">
                    </div>
                    <div class="field">
                        <label for="photo">Upload <span class="color">Birth Certificate</span></label>
                        <input type="file" name="sbc-photo" id="photo">
                    </div>
                </div>
                <!-- ------------------------------------------------- -->

                <h3 class="color uppercase">Terms & Conditions</h3>
                <div class="ter field">
                    <label class="">Read carefully before filling out the admission form</label>
                    <label>1. Fill in the details of the form correctly.</label>
                    <label>2. One must submit proper photos in the required field.</label>
                    <label>3. Your photo and xerox copies documents are to be submitted offline along with the
                        bill.(Before attending school)</label>
                    <label>4. If the payment cancels, try again after sometime or <span class="color"
                            onclick="location.href =`/files/contact.html`">Contact Us</span> </label>
                </div>
                <div class="field">
                    <button type="submit" class="btn uppercase">Submit</button>
                </div>
            </form>
        </div>
    </section>
    <%- include('../partials/school.footer.ejs') %>

</body>

</html>