<header class="flex">
    <div class="logo">
        <h3 class="uppercase color">KKV School| Admin panel</h3>
    </div>
    <span id="hamburger" onclick="openNav()"><i class="uil uil-bars"></i></span>
</header>