<nav>
    <ul>
        <li><a onclick="location.href=`/admin/school`" data-app-page="school"><i class="uil uil-apps"></i><span>Dashboard</span></a></li>
        <li><a onclick="location.href=`/admin/college`" data-app-page="college"><i class="uil uil-university"></i><span>College Section</span></a>
        </li>
        <li><a onclick="location.href=``" data-app-page="school-attendance"><i class="uil uil-schedule"></i><span>Attendance</span></a></li>
        <li><a onclick="location.href=`/school-stuff-edit`" data-app-page="school-staff-edit"><i
                    class="uil uil-users-alt" ></i><span>Staff</span></a></li>
        <li><a onclick="location.href=`/school-gallery`" data-app-page="school-gallery"><i
                    class="uil uil-image-v"></i><span>Gallery</span></a></li>
        <li><a onclick="location.href=``" ><i class="uil uil-signout"></i><span>Log Out</span></a></li>
    </ul>
</nav>