<nav>
    <ul>
        <li><a class="active"><i class="uil uil-apps"></i><span>Dashboard</span></a></li>
        <li><a onclick="location.href=`/`"><i class="uil uil-user-plus"></i><span>Add Student</span></a>
        </li>
        <li><a onclick="location.href=`/`"><i class="uil uil-schedule"></i><span>Attendance</span></a></li>
        <li><a onclick="location.href=`/school-stuff-edit`"><i
                    class="uil uil-users-alt"></i><span>Staff</span></a></li>
        <li><a onclick="location.href=`/school-gallery`"><i
                    class="uil uil-image-v"></i><span>Gallery</span></a></li>
        <li><a onclick="location.href=`/`"><i class="uil uil-signout"></i><span>Log Out</span></a></li>
    </ul>
</nav>